{% extends "maestra.html" %}
{% block titulo %}
Agregar juego
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar juego</h3>
            <form action="{{url_for('guardar_juego')}}" method="post">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="descripcion">Descripción</label>
                <input required type="text" class="input" placeholder="Descripción" name="descripcion" id="descripcion">
                <label for="precio">Precio</label>
                <input required type="number" class="input" placeholder="Precio" name="precio" id="precio">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('juegos')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}